{% assign product_status = '' %}
{% case product.status %}
  {% when 'active' %}
    {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
  {% when 'sold-out' %}
    {% assign product_status = 'Sold out' %}
  {% when 'coming-soon' %}
    {% assign product_status = 'Coming soon' %}
{% endcase %}
<div class="product-heading">
  <div class="product-titles">
    <h1 class="page-title product-title">{{ product.name }}</h1>
    <div class="product-subtitle">
      {% if product_status != blank %}<span class="product-status">{{ product_status }}</span>{% endif %}
      {% if product.variable_pricing %}
        {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
      {% else %}
        {{ product.default_price | money: theme.money_format }}
      {% endif %}
    </div>
  </div>
  {% if product.status == 'active' %}
    <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
      <input type="hidden" name="utf8" value='✓'>
      {% if product.has_default_option %}
        {{ product.option | hidden_option_input }}
      {% else %}
        {% if product.has_option_groups %}
          <div class="product_option_groups">
            <input id="option" name="cart[add][id]" type="hidden" value="0">
            {% for option_group in product.option_groups %}
              <div class="select form-group">
                <label class="form-label product-option-label" for="option_group_{{ option_group.id }}">{{ option_group.name }}</label>
                <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" id="option_group_{{ option_group.id }}" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group shrink-label" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                  <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                  {% for value in option_group.values %}
                    <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                  {% endfor %}
                </select>
                <svg aria-hidden="true" focusable="false" class="down-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M441.9 250.1l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L250 385.4V44c0-6.6-5.4-12-12-12h-28c-6.6 0-12 5.4-12 12v341.4L42.9 230.3c-4.7-4.7-12.3-4.7-17 0L6.1 250.1c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"></path></svg>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="select form-group">
            <label class="form-label product-option-label" for="option">Option</label>
            <select class="product_option_select shrink-label" id="option" name="cart[add][id]" aria-label="Select option">
              <option value="0" disabled="disabled" selected>Select option</option>
              {% for option in product.options %}
                <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
              {% endfor %}
            </select>
            <svg aria-hidden="true" focusable="false" class="down-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M441.9 250.1l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L250 385.4V44c0-6.6-5.4-12-12-12h-28c-6.6 0-12 5.4-12 12v341.4L42.9 230.3c-4.7-4.7-12.3-4.7-17 0L6.1 250.1c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"></path></svg>
          </div>
        {% endif %}
      {% endif %}
      <button class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-adding-text="Adding..." data-added-text="Added!" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>Add to Cart</button>
      {{ store | instant_checkout_button: 'dark', '44px' }}
      {% if product.has_option_groups %}
        <div class="reset-selection-button-container">
          <button class="button minimal-button reset-selection-button" title="Reset selection" type="reset">Reset selection</button>
        </div>
      {% endif %}
    </form>
  {% endif %}

</div>
<div class="product-images {% if product.images.size > 1 %}main-carousel{% else %} single-image{% endif %}">
  {% for image in product.images %}
    <div class="carousel-cell">
      <img src="{{ image | product_image_url | constrain: '1000'}}" alt="Image of {{ product.name | escape }}" />
    </div>
  {% endfor %}
</div>
{% if product.description != blank %}
<div class="product-description">
    {{ product.description | paragraphs }}
    </div>
{% endif %}
